.container {
  display: flex;
  flex-flow: nowrap column;
  gap: 1rem;
  color: white;
  min-height: 100vh;
  scroll-behavior: auto;
  background-color: #0e0d2b;
  place-content: center;
}

.board {
  display: inline-flex;
  overflow: hidden;
  flex-flow: nowrap column;
}

.title {
  text-align: center;
}

.reset {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 1.15rem;
  font-weight: bold;
  max-width: fit-content;
  place-self: center;
}
